<% layout("/layouts/boilerplate") %>

<body>

    <div class="row py-5">
    <div class="col-8 offset-2">
    <h3>Listing Details</h3>
    <img class="show-img" src="<%= listing.image %>" alt="lisitng_image">

    <div class="show-card-details">
        <p class="title"><%= listing.title %></p>
        <p><%= listing.description %></p>
        <p>&#8377; <%= listing.price.toLocaleString("en-In") %></p>
        <p><%= listing.location %></p>
        <p><%= listing.country %></p>
        
    </div>

    <div class="action-btns">
        <a class="primary-btn" href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    
        <form  method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="sec-btn">Delete Listing</button>
        </form>
    </div>

 </div>

</div>

</body>